
<% @product.reviews.each do |review| %>
  <p>
  ------------------<br/>
  Comment: <%= review.comment %>
  <br />
  <%if review.user != nil %>
    <em> by <%= review.user.name  %></em><br />
    Added on: <%= review.created_at %>
  <% end %>

  </p> 
<% end %>


